// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint==phone-min {
    @media all and (max-width: 340px) {
      @content;
    }
  }

  @if $breakpoint==phone {
    @media all and (min-width: 376px) {
      @content;
    }
  }

  @if $breakpoint==landscape-tablets {
    @media all and (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint==tablets {
    @media all and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==laptop-min {
    @media all and (min-width: 1000px) {
      @content;
    }
  }

  @if $breakpoint==laptop {
    @media all and (min-width: 1365px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media all and (min-width: 1920px) {
      @content;
    }
  }
}

// Bar Chart Primary

@mixin bar-chart($height: 325px, $type: "secondary", $width: var(--bar-chart-width)) {
  background: var(--bar-chart__#{$type}-background);
  box-shadow: var(--bar-chart__#{$type}-shadow);
  width: $width;
  height: $height;
  border-radius: 6px;
}

// Bar Chart positioning

@mixin relative-left($left) {
  position: relative;
  left: $left;
}

@mixin relative-right($right) {
  position: relative;
  right: $right;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}