// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == vertical-phone-min {
    @media only screen and (max-width: 340px) {
      @content;
    }
  }
  @if $breakpoint == vertical-phone {
    @media only screen and (min-width: 376px) and (max-width: 413px) {
      @content;
    }
  }
  @if $breakpoint == vertical-tab-min {
    @media only screen and (min-width: 414px) and (max-width: 575px) {
      @content;
    }
  }
  @if $breakpoint == vertical-tab-big {
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == vertical-tab {
    @media only screen and (min-width: 768px) and (max-width: 1365px) {
      @content;
    }
  }
  @if $breakpoint == horizontal-laptop {
    @media only screen and (min-width: 1366px) and (max-width: 1919px) {
      @content;
    }
  }
  @if $breakpoint == horizontal-desktops {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}

// Bar Chart Primary

@mixin bar-chart($height: 325px, $type: "secondary") {
  background: var(--bar-chart__#{$type}-background);
  box-shadow: var(--bar-chart__#{$type}-shadow);
  width: var(--bar-chart-width);
  height: $height;
  min-height: 108px;
}

// Bar Chart positioning

@mixin relative-left($left) {
  position: relative;
  left: $left;
}

@mixin relative-right($right) {
  position: relative;
  right: $right;
}
