@import "../helpers/mixins.scss";

.person {
  margin-top: auto;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    width: 64px;
    height: 64px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      filter: var(--photo--grayscale);
      border-radius: 50%;
    }

    &__emoji {
      position: absolute;
      width: 104px;
      height: 32px;
      font-size: 32px;
      line-height: 32px;
      left: -18px;
      bottom: calc(100% - 10px);
    }
  }

  &__data {
    margin-top: 6px;
    text-align: center;

    & span {
      display: block;
    }
  }

  &__name {
    width: 120px;
    height: 36px;
    font-size: 16px;
    color: var(--color-white);

    @include respond(vertical-phone-min) {
      width: 100px;
      font-size: 14px;
    }
  }

  &__count {
    font-size: 14px;
    color: var(--color-light-grey);
    margin-top: 6px;

    @include respond(vertical-phone-min) {
      font-size: 12px;
    }
  }

  &__place {
    margin-top: 16px;
    height: 100%;
    border-radius: 6px 6px 0 0;
    min-height: 108px;

    &--1 {
      @include bar-chart(325px, "primary");

      @include respond(vertical-phone-min) {
        @include bar-chart(225px, "primary");
        width: 100px;
      }
    }

    @each $i in 2, 3 {
      @each $j in 4, 5 {
        $width: calc(325px - #{$i - 1} * 50px);

        &--#{$i} {
          @include bar-chart($width);

          @include respond(vertical-phone-min) {
            @include bar-chart(125px - #{$i - 1} * 50px);
            width: 100px;
          }

          @include respond(vertical-tab-big) {
            @include bar-chart(305px);
          }
        }

        &--#{$j} {
          @include bar-chart(225px);

          @include respond(vertical-tab-big) {
            @include bar-chart(225px);
          }

          @include respond(vertical-phone-min) {
            @include bar-chart(175px);
            width: 100px;
          }
        }
      }
    }

    &-number {
      display: block;
      font-size: 30px;
      color: var(--color-white);
      padding-top: 18px;
    }
  }
}
