@import "../helpers/mixins.scss";

.user {
  margin-top: auto;

  &--selected {
    margin-top: 0;

    @include respond(phone-min) {
      @include visually-hidden;
    }

    @include respond(landscape-tablets) {
      @include visually-hidden;
    }

    .user__info {
      width: 100%;
    }
  }

  width: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 104px;

    @include respond(phone-min) {
      width: 84px;
    }

    @include respond(tablets) {
      width: auto;
    }
  }

  &__photo {
    width: 64px;
    height: 64px;

    position: relative;

    @include respond(tablets) {
      width: calc(50vw / 5);
      height: calc(50vw / 5);
    }

    @include respond(desktop) {
      max-width: 256px;
      max-height: 256px;
      width: calc(80vw / 5);
      height: calc(80vw / 5);
    }

    img {
      width: 100%;
      height: 100%;
      filter: var(--photo--grayscale);
      border-radius: 50%;
    }

    &__emoji {
      position: absolute;
      width: 104px;
      height: 32px;
      font-size: 32px;
      line-height: 32px;
      left: -18px;
      bottom: calc(100% - 10px);

      @include respond(tablets) {
        width: 100%;
        left: 0;
      }

      @include respond(laptop) {
        font-size: 64px;
        line-height: 16px;
      }

      @include respond(desktop) {
        font-size: 92px;
        line-height: 8px;
      }
    }
  }

  &__data {
    margin-top: 6px;
    text-align: center;

    & span {
      display: block;
      height: 100%;
      padding: 0 5px;
    }

    @include respond(laptop) {
      margin-top: 16px;
    }

    @include respond(desktop) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    font-family: "Roboto 500";
    min-width: 88px;
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: var(--color-white);

    @include respond(phone-min) {
      font-size: 14px;
    }

    @include respond(tablets) {
      font-size: 18px;
    }

    @include respond(tablets) {
      font-size: 18px;
    }

    @include respond(laptop) {
      height: 100%;
    }

    @include respond(desktop) {
      font-size: 24px;
      width: 100%;
    }
  }

  &__count {
    font-size: 14px;
    color: var(--color-light-grey);
    margin-top: 6px;

    @include respond(phone-min) {
      font-size: 12px;
    }

    @include respond(tablets) {
      margin-top: 12px;
      font-size: 16px;
    }

    @include respond(tablets) {
      font-size: 18px;
    }

    @include respond(desktop) {
      font-size: 20px;
    }
  }

  &__place {
    height: 100%;
    border-radius: 6px 6px 0 0;
    margin-top: 16px;
    padding: 16px;

    &--1 {
      min-height: 108px;
      max-height: 325px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include bar-chart(325px, "primary");

      @include respond(phone-min) {
        @include bar-chart(40vh, "primary");
        width: 100px;
      }

      @include respond(landscape-tablets) {
        @include bar-chart(calc(29vh), "primary");
      }

      @include respond(tablets) {
        max-height: 425px;
        min-width: 120px;
        @include bar-chart(calc(45vh), "primary");
        width: calc(100vw / 5);
      }

      @include respond(laptop) {
        max-height: 425px;
        min-width: 120px;
        @include bar-chart(calc(35vh), "primary");
        width: calc(80vw / 5);
      }
    }

    @each $i in 2, 3, 6, 7, 10, 11 {
      @each $j in 4, 5, 8, 9, 12 {
        &--#{$i} {
          min-height: 88px;
          max-height: 325px;
          @include bar-chart(calc(325px - #{$i - 1} * 50px));

          @include respond(phone-min) {
            @include bar-chart(calc(40vh - #{$i - 1} * 30px));
            width: 100px;
          }

          @include respond(landscape-tablets) {
            @include bar-chart(calc(29vh - #{$i * 10}px));
          }

          @include respond(tablets) {
            min-width: 120px;
            max-height: 375px;
            @include bar-chart(calc(40vh - #{$i * 2}px));
            width: calc(100vw / 5);
          }

          @include respond(laptop) {
            min-width: 120px;
            max-height: 375px;
            @include bar-chart(calc(32vh - #{$i * 2}px));
            width: calc(80vw / 5);
          }
        }

        &--#{$j} {
          min-height: 68px;
          @include bar-chart(225px);

          @include respond(phone) {
            @include bar-chart(175px);
          }

          @include respond(landscape-tablets) {
            @include bar-chart(calc(29vh - #{$j * 10}px));
          }

          @include respond(tablets) {
            min-width: 120px;
            max-height: 375px;
            @include bar-chart(calc(35vh - #{$j * 5}px));
            width: calc(100vw / 5);
          }

          @include respond(laptop) {
            min-width: 120px;
            max-height: 375px;
            @include bar-chart(calc(29vh - #{$j * 5}px));
            width: calc(80vw / 5);
          }
        }
      }
    }

    &-number {
      font-family: "Roboto 700";
      display: block;
      font-size: 30px;
      color: var(--color-white);

      &:not(:first-child) {
        width: calc(100% - 16px);
      }

      @include respond(desktop) {
        font-size: 50px;
      }

      &--selected {
        margin: 9px auto auto;
        padding-top: 6px;
        width: 60px;
        border-top: 1px solid var(--color-grey);
      }
    }
  }
}
