.leaders {
  height: 100%;

  &__list {
    margin: auto auto 0 auto;
    position: relative;
    width: 120px;

    @include respond(vertical-phone-min) {
      width: 100px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:first-child) {
      position: absolute;
      bottom: 0;
    }

    &:nth-child(1) {
      z-index: 100;
      position: relative;
    }

    @each $i in 2, 4 {
      @each $j in 3, 5 {
        &:nth-child(#{$j}) {
          right: calc(104px * (#{$j - 1}) / 2);
          z-index: #{5 - $j};

          .person {
            &__place-number,
            &__info {
              @include relative-right(6px);
            }
          }

          @include respond(vertical-phone-min) {
            right: calc(88px * (#{$j - 1}) / 2);
          }
        }

        &:nth-child(#{$i}) {
          left: calc(104px * #{$i / 2});
          z-index: #{4 - $i};

          .person {
            &__place-number,
            &__info {
              @include relative-left(6px);
            }
          }

          @include respond(vertical-phone-min) {
            left: calc(88px * #{$i / 2});
          }
        }
      }
    }
  }
}
