.leaders {
  height: 100%;

  &__list {
    margin: auto auto 0 auto;
    position: relative;
    width: 120px;

    @include respond(phone-min) {
      width: 100px;
    }

    @include respond(tablets) {
      width: calc(80vw / 5);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 120px;

    @include respond(phone-min) {
      width: 100px;
    }

    @include respond(tablets) {
      width: calc(80vw / 5);
    }

    &:not(:first-child) {
      position: absolute;
      bottom: 0;
    }

    &:nth-child(1) {
      z-index: 100;
      position: relative;
    }

    @for $i from 2 through 12 {
      &:nth-child(#{$i}):nth-child(odd) {
        right: calc(104px * (#{$i - 1} / 2));
        z-index: #{12 - $i};

        .person {
          &__place-number,
          &__info {
            @include relative-right(6px);
          }
        }

        @include respond(phone-min) {
          right: calc(84px * (#{$i - 1} / 2));
        }

        @include respond(phone) {
          right: calc(104px * (#{$i - 1}) / 2);
        }

        @include respond(tablets) {
          right: calc(calc((80vw / 5) - 16px) * (#{$i - 1}) / 2);
        }
      }

      &:nth-child(#{$i}):nth-child(even) {
        left: calc(104px * #{$i} / 2);
        z-index: #{12 - $i};

        .person {
          &__place-number,
          &__info {
            @include relative-left(6px);
          }
        }

        @include respond(phone-min) {
          left: calc(84px * #{$i} / 2);
        }

        @include respond(phone) {
          left: calc(104px * #{$i} / 2);
        }

        @include respond(tablets) {
          left: calc(calc((80vw / 5) - 16px) * #{$i} / 2);
        }
      }
    }

    @for $var from 4 through 12 {
      &:nth-child(#{$var}) {
        @media only screen and (max-width: 575px) {
          display: none;
        }
      }
    }
  }
}
