.activity {
	height: 100%;

	&__container {}

	&__visual {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		height: 328px;

		&__day {
			position: relative;
			height: 100%;
		}

		&__hour {
			position: relative;
			display: flex;
			height: 100%;

			&__odd,
			&__even {
				display: flex;
				flex-direction: column;
			}

			&__odd {
				position: relative;

				img {
					@for $var from 1 through 12 {
						&:nth-child(#{$var}) {
							position: relative;
							left: 20px;
							top: -13px * $var;
						}
					}
				}
			}

			&__even {
				position: relative;
				top: 15px;
				left: -21px;

				img {
					@for $var from 1 through 12 {
						&:nth-child(#{$var}) {
							position: relative;
							left: 20px;
							top: -13px * $var;
						}
					}
				}
			}

			&__value {
				width: 43px;
				height: 100%;
				position: relative;
			}
		}
	}
}