.activity {
	height: 100%;
	overflow: hidden;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 87%;

		@include respond(landscape-tablets) {
			height: 10%;
		}

		@include respond(tablets) {
			height: 85vh;
		}

		@include respond(laptop) {
			height: 15vh;
		}
	}

	&__visual {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 95%;
		margin: 50px auto 0 auto;

		@include respond(landscape-tablets) {
			flex-direction: column;
			width: 100%;
			height: 70%;
			margin-top: 200px;
		}

		@include respond(tablets) {
			flex-direction: row;
			margin-top: 120px;
		}

		@include respond(laptop) {
			flex-direction: column;
			width: 100%;
			height: 100%;
			margin-top: 27vw;
		}

		&__day {
			position: relative;
			height: 60vh;

			@include respond(landscape-tablets) {
				height: initial;

				@for $var from 1 through 7 {
					&:nth-child(even) {
						margin-left: 43px;
					}

					&:nth-child(#{$var}) {
						top: -27px * $var;
					}
				}
			}

			@include respond(tablets) {
				height: 65vh;

				@for $var from 1 through 7 {
					&:nth-child(even) {
						margin-left: 0;
					}

					&:nth-child(#{$var}) {
						top: 0;
					}
				}
			}

			@include respond(laptop) {
				height: 100%;

				@for $var from 1 through 7 {
					&:nth-child(even) {
						margin-left: 6vw;
					}

					&:nth-child(#{$var}) {
						top: -3.7vw * $var;
					}
				}
			}
		}

		&__hour {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;

			@include respond(landscape-tablets) {
				flex-direction: row;
			}

			@include respond(tablets) {
				flex-direction: column;
			}

			@include respond(laptop) {
				flex-direction: row;
			}

			&__value {
				width: 43px;
				height: 100%;

				@include respond(phone-min) {
					width: 34px;
					height: 34px;
				}

				@include respond(landscape-tablets) {
					width: 43px;
					height: 43px;
				}

				@include respond(tablets) {
					width: 68px;
					height: 100%;
				}

				@include respond(laptop) {
					width: 6vw;
					height: 6vw;
				}

				@for $var from 1 through 24 {
					&__#{$var} {
						&:nth-child(#{$var}):nth-child(even) {
							position: relative;
							left: 23.3px;
							top: -25.1px * $var;

							@include respond(phone-min) {
								left: 16.5px;
								top: -20px * $var;
							}

							@include respond(landscape-tablets) {
								left: 0;
								top: 0;

								@if $var>=12 {
									display: none;
								}
							}

							@include respond(tablets) {
								left: 35.3px;
								top: -40.1px * $var;

								@if $var>=12 {
									display: block;
								}
							}

							@include respond(laptop) {
								left: 0;
								top: 0;

								@if $var>=12 {
									display: none;
								}
							}
						}

						&:nth-child(#{$var}):nth-child(odd) {
							position: relative;
							top: -25.2px * $var;

							@include respond(phone-min) {
								top: -20px * $var;
							}

							@include respond(landscape-tablets) {
								left: 0;
								top: 0;

								@if $var>=12 {
									display: none;
								}
							}

							@include respond(tablets) {
								top: -40px * $var;

								@if $var>=12 {
									display: block;
								}
							}

							@include respond(laptop) {
								left: 0;
								top: 0;

								@if $var>=12 {
									display: none;
								}
							}
						}

						&--mid {
							height: 54px;
							margin-top: -11px;

							@include respond(phone-min) {
								height: 43px;
								margin-top: -6px;
							}

							@include respond(tablets) {
								height: 74px;
								margin-top: -6px;
							}

							@include respond(laptop) {
								height: initial;
								margin-top: -1.4vw;
							}
						}

						&--max {
							height: 74px;
							margin-top: -35px;

							@include respond(phone-min) {
								height: 64px;
								margin-top: -23px;
							}

							@include respond(tablets) {
								height: 100%;
								margin-top: -50px;
							}

							@include respond(laptop) {
								height: initial;
								margin-top: -4.3vw;
							}
						}

						&--extra {
							height: 94px;
							margin-top: -50px;

							@include respond(phone-min) {
								height: 84px;
								margin-top: -51px;
							}

							@include respond(tablets) {
								height: 100%;
								margin-top: -75px;
							}

							@include respond(laptop) {
								height: initial;
								margin-top: -7vw;
							}
						}
					}
				}
			}
		}
	}

	&__legend {
		display: flex;
		justify-content: center;
		width: 100%;

		&__item {
			font-family: "Roboto 500";
			color: var(--color-grey);

			&:not(:last-child) {
				margin-right: 8px;
			}

			@include respond(tablets) {
				&:not(:last-child) {
					margin-right: 16px;
				}
			}
		}

		&__block {
			width: 59.2px;
			height: 12px;
			border-radius: 2px;

			@include respond(phone-min) {
				width: 45px;
			}

			@include respond(tablets) {
				width: 89.2px;
				height: 18px;
			}

			@include respond(laptop) {
				width: 10vw;
				height: 1.5vw;
			}

			&--center {
				display: flex;
				align-items: center;
			}


			&__hour {
				position: relative;
				width: 51px;
				height: 4px;
				background: var(--activity-legend-background-1);
				box-shadow: var(--activity-legend-shadow-1);

				@include respond(tablets) {
					width: 89.2px;
					height: 8px;
				}

				@include respond(laptop) {
					width: 10vw;
					height: 0.7vw;
				}

				&::before {
					display: block;
					content: "";
					position: absolute;
					top: 50%;
					left: -2px;
					transform: translate(-50%, -50%);
					width: 6px;
					height: 1.5vw;
					border-radius: 2px;
					background: var(--activity-legend-background-1);
					box-shadow: var(--activity-legend-shadow-1);
				}

				&::after {
					display: block;
					content: "";
					position: absolute;
					top: 50%;
					right: -8px;
					transform: translate(-50%, -50%);
					width: 6px;
					height: 1.5vw;
					border-radius: 2px;
					background: var(--activity-legend-background-1);
					box-shadow: var(--activity-legend-shadow-1);
				}
			}

			@for $var from 1 through 4 {
				&--#{$var} {
					background: var(--activity-legend-background-#{$var});
					box-shadow: var(--activity-legend-shadow-#{$var});
				}
			}
		}

		&__value {
			margin-top: 8px;
			display: block;


			@include respond(phone-min) {
				font-size: 12px;
			}

			@include respond(landscape-tablets) {
				font-size: 1.6vw;
				text-align: center;
			}

			&--one {
				@include respond(landscape-tablets) {
					display: none;
				}

				@include respond(tablets) {
					display: block;
				}

				@include respond(laptop) {
					display: none;
				}
			}

			&--two {
				display: none;

				@include respond(landscape-tablets) {
					display: block;
				}

				@include respond(tablets) {
					display: none;
				}

				@include respond(laptop) {
					display: block;
				}
			}
		}
	}
}