.activity {
	height: 100%;

	&__container {}

	&__visual {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		height: 328px;

		&__day {
			position: relative;
			height: 100%;
		}

		&__hour {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;

			&__value {
				width: 43px;
				height: 43px;

				@for $var from 1 through 24 {
					&__#{$var} {
						&:nth-child(#{$var}):nth-child(even) {
							position: absolute;
							left: 20px;
							top: 18px * ($var - 1);
						}

						&:nth-child(#{$var}):nth-child(odd) {
							position: relative;
							bottom: 4.5px * ($var);
						}

						&--mid {
							height: 54px;

							&:nth-child(#{$var}):nth-child(even) {
								top: 18px * ($var - 1);
							}
						}

						&--max {
							height: 74px;
						}

						&--extra {
							height: 95px;
						}
					}
				}
			}
		}
	}
}