.chart {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 24px;
    overflow-x: hidden;
  }

  &__wrapper {
  }

  &__bars {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 393px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 40px;
    height: 100%;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &__title {
      font-size: 16px;
      color: var(--color-light-grey);
      margin-top: 12px;
    }

    &__value {
      font-size: 20px;
      color: var(--color-light-grey);
    }

    &__bar {
      margin-top: 8px;
      @for $var from 0 through 182 {
        $value: ($var / 182) * 70%;
        &--#{$var} {
          @include bar-chart($value, "secondary", 40px);
          min-height: 8px;
          border-radius: 6px;
          max-height: 70%;
        }

        &--active {
          @include bar-chart($value, "primary", 40px);
        }
      }
    }
  }

  &__users {
    margin-top: 8px;
  }

  &__user {
    &:not(:last-child) {
      padding: 16px 0;
      border-bottom: 2px solid var(--color-light-grey);
    }

    &__info {
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
    }

    &__photo {
      width: 40px;
      height: 40px;
    }

    &__data {
      text-align: start;
      margin-left: 14px;
    }
  }
}
