.vote {
  width: 100%;
  height: 100%;


  &__users {
    height: 72%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
      "area-1 area-13 area-10"
      "area-12 area-4 area-2"
      "area-5 area-11 area-6"
      "...... area-14 ......";

    @include respond(phone-min) {
      height: 70%;
      grid-auto-rows: minmax(120px, auto);
    }

    @include respond(landscape-tablets) {
      height: 80%;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(142px, auto);
      grid-template-areas:
        "area-1 area-4 area-13 area-10 area-12"
        "area-1 area-11 area-14 area-2 area-12";
      margin-top: 0;
    }

    @include respond(tablets) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(30%, auto);
      grid-template-areas:
        "area-1 area-13 area-10"
        "area-12 area-4 area-2"
        "area-5 area-11 area-6"
        "...... area-14 ......";
      margin-top: 100px;
    }

    @include respond(laptop) {
      height: 80%;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(142px, auto);
      grid-template-areas:
        "area-1 area-4 area-13 area-10 area-12"
        "area-1 area-11 area-14 area-2 area-12";
      margin-top: 40px;
    }

    &__wrapper {
      text-align: center;
      background-color: transparent;
      border: none;

      svg {
        path {
          fill: var(--button-vote-fill);

          &:hover {
            cursor: pointer;
            fill: var(--button-vote-fill--hover);
          }
        }

        @include respond(phone-min) {
          width: 50px;
          height: 50px;
        }

        @include respond(tablets) {
          width: 100px;
          height: 100px;
        }
      }
    }

    &__item {
      display: block;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      @for $var from 1 through 14 {
        &--#{$var} {
          grid-area: area-#{$var};

          @if $var==1 or $var==12 {
            @include respond(landscape-tablets) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          @if $var==9 or $var==3 or $var==7 or $var==8 {
            display: none;
          }

          @if $var==5 or $var==6 {
            @include respond(landscape-tablets) {
              display: none;
            }

            @include respond(tablets) {
              display: block;
            }

            @include respond(laptop) {
              display: none;
            }
          }

          @if $var==13 {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            svg {
              transform: rotate(180deg);
            }

            @include respond(landscape-tablets) {
              bottom: 0;
              align-items: center;
            }

            @include respond(tablets) {
              align-items: flex-start;
            }

            @include respond(laptop) {
              position: relative;
              bottom: -20px;
              align-items: center;
            }
          }

          @if $var==4 {
            position: relative;
            bottom: 70px;

            @include respond(phone-min) {
              top: -60px;
            }

            @include respond(landscape-tablets) {
              bottom: 0;
            }

            @include respond(tablets) {
              bottom: 120px;
            }

            @include respond(laptop) {
              bottom: 0;
            }
          }

          @if $var==11 {
            position: relative;
            top: -70px;

            @include respond(phone-min) {
              top: -60px;
            }

            @include respond(landscape-tablets) {
              top: unset;
            }

            @include respond(tablets) {
              top: -120px;
            }

            @include respond(laptop) {
              top: 0;
            }
          }

          @if $var==14 {
            bottom: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 3;

            @include respond(landscape-tablets) {
              align-items: center;
              grid-column-start: 3;
              grid-column-end: 3;
              grid-row-start: 2;
              grid-row-end: 2;
            }

            @include respond(tablets) {
              align-items: flex-end;
              grid-column-start: 2;
              grid-column-end: 2;
              grid-row-start: 3;
              grid-row-end: 3;
            }

            @include respond(laptop) {
              position: relative;
              bottom: 20px;
              align-items: center;
              grid-column-start: 3;
              grid-column-end: 3;
              grid-row-start: 2;
              grid-row-end: 2;
            }
          }
        }
      }

    }

    &__button {
      width: 104px;
      height: 142px;
      text-align: center;
      background-color: transparent;
      border: none;
      border-radius: 6px;

      @include respond(phone-min) {
        width: 84px;
        height: 112px;
      }

      @include respond(tablets) {
        width: 174px;
        height: 212px;
      }

      @include respond(laptop) {
        width: 13vw;
        height: 17vw;
      }

      &:hover {
        background: var(--bar-chart__secondary-background);
        box-shadow: var(--bar-chart__secondary-shadow);
        cursor: pointer;
      }

      &--selected {
        background: radial-gradient(circle at 50% 50%, #FFA300 0%, #2D1C00 100%);
        box-shadow: inset 0px 6px 15px 0px #FFA200, inset -1px 1px 1px 0px #FFFFFF;
        position: relative;

        &:hover {
          background: radial-gradient(circle at 50% 50%, #FFA300 0%, #2D1C00 100%);
          box-shadow: inset 0px 6px 15px 0px #FFA200, inset -1px 1px 1px 0px #FFFFFF;
        }
      }

    }
  }

  &__user {
    img {
      position: relative;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      filter: var(--photo--grayscale);

      @include respond(phone-min) {
        width: 50px;
        height: 50px;
      }

      @include respond(tablets) {
        width: 100px;
        height: 100px;
      }

      @include respond(laptop) {
        width: 8vw;
        height: 8vw;
      }
    }

    &__name {
      display: block;
      font-family: "Roboto 400";
      font-size: 16px;
      width: 96px;
      margin: 6px auto 0 auto;
      color: var(--color-white);

      @include respond(phone-min) {
        width: 70px;
        font-size: 12px;
      }

      @include respond(tablets) {
        width: 120px;
        font-size: 20px;
      }

      @include respond(laptop) {
        width: 9vw;
        font-size: 1.5vw;
      }
    }

    &__emoji {
      position: absolute;
      top: 17%;
      left: 50%;
      font-size: 32px;
      transform: translate(-50%, -100%);

      @include respond(phone-min) {
        font-size: 24px;
      }

      @include respond(tablets) {
        top: 19%;
        font-size: 48px;
      }

      @include respond(laptop) {
        font-size: 3vw;
      }
    }
  }
}