.vote {
  width: 100%;
  height: 100%;

  &__users {
    overflow: hidden;
    height: 72%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
      "area-1 area-4 area-8"
      "area-2 area-5 area-9"
      "area-3 area-6 area-10"
      "...... area-7 ......";

    @include respond(phone-min) {
      overflow: hidden;
      grid-auto-rows: minmax(110px, auto);
    }

    @include respond(landscape-tablets) {
      height: 80%;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(142px, auto);
      grid-template-areas:
        "area-1 area-5 area-4 area-8 area-2"
        "area-1 area-6 area-7 area-9 area-2"
      ;
      margin-top: 0;
    }

    &__wrapper {
      text-align: center;

      img {
        @include respond(phone-min) {
          width: 50px;
          height: 50px;
        }
      }
    }

    &__item {
      display: block;
      text-align: center;

      @for $var from 0 through 10 {
        &--#{$var} {
          grid-area: area-#{$var};

          @if $var==1 or $var==2 {
            @include respond(landscape-tablets) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          @if $var==3 or $var==10 {
            @include respond(landscape-tablets) {
              display: none;
            }
          }

          @if $var==4 {
            img {
              transform: rotate(180deg);
            }

            @include respond(landscape-tablets) {
              bottom: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          @if $var==5 {
            position: relative;
            bottom: 78px;

            @include respond(phone-min) {
              bottom: 60px;
            }

            @include respond(landscape-tablets) {
              bottom: 0;
            }
          }

          @if $var==6 {
            position: relative;
            top: -78px;

            @include respond(phone-min) {
              top: -60px;
            }

            @include respond(landscape-tablets) {
              top: unset;
            }
          }

          @if $var==7 {
            @include respond(landscape-tablets) {
              bottom: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    &__button {
      width: 104px;
      height: 142px;
      text-align: center;
      background-color: transparent;
      border: none;
      border-radius: 6px;

      @include respond(phone-min) {
        width: 84px;
        height: 112px;
      }

      &:hover {
        background: var(--bar-chart__secondary-background);
        box-shadow: var(--bar-chart__secondary-shadow);
        cursor: pointer;
      }
    }
  }

  &__user {
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;

      @include respond(phone-min) {
        width: 50px;
        height: 50px;
      }
    }

    &__name {
      display: block;
      font-family: "Roboto 400";
      font-size: 16px;
      width: 96px;
      margin: 6px auto 0 auto;
      color: var(--color-white);

      @include respond(phone-min) {
        width: 70px;
        font-size: 12px;
      }
    }
  }
}