.vote {
  width: 100%;
  height: 100%;

  &__users {
    height: 70%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);

    @include respond(phone-min) {
      grid-auto-rows: minmax(110px, auto);
      margin-top: 40px;
    }

    @include respond(landscape-tablets) {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(142px, auto);
      margin-top: 0;
    }

    &__wrapper {
      text-align: center;

      img {
        @include respond(phone-min) {
          width: 50px;
          height: 50px;
        }
      }
    }

    &__item {
      display: block;
      text-align: center;

      &--1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;

        @include respond(landscape-tablets) {
          grid-row-end: 3;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &--2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;

        @include respond(landscape-tablets) {
          grid-column-start: 5;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 3;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &--3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;

        @include respond(landscape-tablets) {
          display: none;
        }
      }

      &--4 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;

        img {
          transform: rotate(180deg);
        }

        @include respond(landscape-tablets) {
          grid-column-start: 3;
          grid-column-end: 3;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &--5 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        position: relative;
        top: 78px;

        @include respond(phone-min) {
          top: 60px;
        }

        @include respond(landscape-tablets) {
          top: 0;
        }
      }

      &--6 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        position: relative;
        bottom: 78px;

        @include respond(phone-min) {
          bottom: 60px;
        }

        @include respond(landscape-tablets) {
          bottom: unset;
        }
      }

      &--7 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @include respond(landscape-tablets) {
          grid-column-start: 3;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 2;
          align-items: center;
        }
      }

      &--8 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;

        @include respond(landscape-tablets) {
          grid-column-start: 4;
          grid-column-end: 4;
        }
      }

      &--9 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;

        @include respond(landscape-tablets) {
          grid-column-start: 4;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 2;
        }
      }

      &--10 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;

        @include respond(landscape-tablets) {
          display: none;
        }
      }
    }

    &__button {
      width: 104px;
      height: 142px;
      text-align: center;
      background-color: transparent;
      border: none;
      border-radius: 6px;

      @include respond(phone-min) {
        width: 84px;
        height: 112px;
      }

      &:hover {
        background: var(--bar-chart__secondary-background);
        box-shadow: var(--bar-chart__secondary-shadow);
        cursor: pointer;
      }
    }
  }

  &__user {
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;

      @include respond(phone-min) {
        width: 50px;
        height: 50px;
      }
    }

    &__name {
      display: block;
      width: 96px;
      margin: 0 auto;
      font-size: 16px;
      color: var(--color-white);
      margin-top: 6px;

      @include respond(phone-min) {
        width: 70px;
        font-size: 12px;
      }
    }
  }
}
