@import "./helpers/mixins.scss";

:root {
  --color-black: #261c00;
  --color-yellow: #f4b000;
  --color-grey: #918f8a;
  --color-light-grey: #bfbfbf;
  --color-white: #fcfbf7;
  --body-background: radial-gradient(
    70.24% 70.24% at 49.87% 29.76%,
    rgba(18, 12, 1, 0.9) 0%,
    #000000 100%
  );

  --headline-color: var(--color-white);
  --headline-font-size: 30px;

  --subhead-primary-color: var(--color-white);
  --subhead-secondary-color: var(--color-grey);
  --subhead-font-size: 20px;

  --body-primary-color: var(--color-white);
  --body-secondary-color: var(--color-grey);
  --body-font-size: 16px;

  --caption-primary-color: var(--color-white);
  --caption-secondary-color: var(--color-grey);
  --caption-font-size: 16px;

  --bar-chart-width: 120px;
  --bar-chart__commits-width: 40px;

  --bar-chart__primary-background: radial-gradient(
    91.67% 122.17% at 69.17% -11.17%,
    #ffa300 0%,
    #2d1c00 100%
  );
  --bar-chart__primary-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4),
    inset 0px 6px 15px rgba(255, 162, 0, 0.4);

  --bar-chart__secondary-background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    radial-gradient(
      149.08% 93.3% at 38.75% 72.1%,
      #000000 0%,
      #231900 0.01%,
      #4d4d4d 100%
    );
  --bar-chart__secondary-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2),
    inset 2px 2px 16px rgba(103, 103, 103, 0.6);

  --button-border: var(--color-grey);
  --button-background: var(--color-grey);

  --button-border--hover: var(--color-white);
  --button-background--hover: var(--color-white);

  --divider-background: var(--color-light-grey);

  --photo--grayscale: grayscale(100%);
}

.theme_dark {
  --color-black: #261c00;
  --color-yellow: #f4b000;
  --color-grey: #918f8a;
  --color-light-grey: #bfbfbf;
  --color-white: #fcfbf7;
  --body-background: radial-gradient(
    70.24% 70.24% at 49.87% 29.76%,
    rgba(18, 12, 1, 0.9) 0%,
    #000000 100%
  );

  --headline-color: var(--color-white);
  --headline-font-size: 30px;

  --subhead-primary-color: var(--color-white);
  --subhead-secondary-color: var(--color-grey);
  --subhead-font-size: 20px;

  --body-primary-color: var(--color-white);
  --body-secondary-color: var(--color-grey);
  --body-font-size: 16px;

  --caption-primary-color: var(--color-white);
  --caption-secondary-color: var(--color-grey);
  --caption-font-size: 16px;

  --bar-chart-width: 120px;
  --bar-chart__commits-width: 40px;

  --bar-chart__primary-background: radial-gradient(
    91.67% 122.17% at 69.17% -11.17%,
    #ffa300 0%,
    #2d1c00 100%
  );
  --bar-chart__primary-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4),
    inset 0px 6px 15px rgba(255, 162, 0, 0.4);

  --bar-chart__secondary-background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    radial-gradient(
      149.08% 93.3% at 38.75% 72.1%,
      #000000 0%,
      #231900 0.01%,
      #4d4d4d 100%
    );
  --bar-chart__secondary-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2),
    inset 2px 2px 16px rgba(103, 103, 103, 0.6);

  --button-border: var(--color-grey);
  --button-background: var(--color-grey);

  --button-border--hover: var(--color-white);
  --button-background--hover: var(--color-white);

  --divider-background: var(--color-light-grey);

  --photo--grayscale: grayscale(100%);
}

.theme_light {
  --color-black: #261c00;
  --color-yellow: #f4b000;
  --color-grey: #918f8a;
  --color-light-grey: #bfbfbf;
  --color-white: #261c00;
  --body-background: #fff;

  --headline-color: var(--color-black);
  --headline-font-size: 30px;

  --subhead-primary-color: var(--color-white);
  --subhead-secondary-color: var(--color-light-grey);
  --subhead-font-size: 20px;

  --body-primary-color: var(--color-white);
  --body-secondary-color: var(--color-grey);
  --body-font-size: 16px;

  --caption-primary-color: var(--color-white);
  --caption-secondary-color: var(--color-grey);
  --caption-font-size: 16px;

  --bar-chart-width: 120px;
  --bar-chart__commits-width: 40px;

  --bar-chart__primary-background: linear-gradient(
    -180deg,
    #fff2d1 1%,
    #ffd66c 100%
  );
  --bar-chart__primary-shadow: inset 0px 0px 20px 0px #ffb039,
    inset -1px 1px 1px 0px #ffffff;

  --bar-chart__secondary-background: linear-gradient(
    -180deg,
    #f4f4f4 1%,
    #e9e9e9 100%,
    #eaeaea 100%
  );
  --bar-chart__secondary-shadow: inset 0px 0px 20px 0px #cfcfcf,
    inset -1px 1px 1px 0px #ffffff;

  --button-border: var(--color-grey);
  --button-background: var(--color-grey);

  --button-border--hover: var(--color-white);
  --button-background--hover: var(--color-white);

  --divider-background: var(--color-light-grey);

  --photo--grayscale: grayscale(0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto 400";
}

body {
  font-size: var(--body-font-size);
  background: var(--body-background) no-repeat;
  height: 100vh;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 20px 20px 0 20px;

  @include respond(phone) {
    min-width: 376px;
    margin: 0 auto;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}
