.heading {
  width: 300px;

  @include respond(landscape-tablets) {
    width: 100%;
    text-align: center;
  }

  &--primary {
    font-family: "Roboto 700";
    color: var(--headline-color);
    font-size: var(--headline-font-size);
    width: 100%;
    line-height: 1;

    @include respond(tablets) {
      font-size: calc(var(--headline-font-size) + 10px);
    }

    @include respond(laptop) {
      font-size: calc(var(--headline-font-size) + 20px);
    }
  }

  &--secondary {
    font-family: "Roboto 500";
    color: var(--subhead-secondary-color);
    font-size: var(--caption-font-size);
    margin-top: 8px;
    width: 100%;
    line-height: 1;

    @include respond(tablets) {
      font-size: calc(var(--caption-font-size) + 5px);
    }

    @include respond(laptop) {
      font-size: calc(var(--caption-font-size) + 10px);
    }
  }
}
