// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == vertical-phone-min {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
  @if $breakpoint == vertical-phone {
    @media only screen and (min-width: 376px) and (max-width: 413px) {
      @content;
    }
  }
  @if $breakpoint == vertical-tab-min {
    @media only screen and (min-width: 414px) and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == vertical-tab {
    @media only screen and (min-width: 768px) and (max-width: 1365px) {
      @content;
    }
  }
  @if $breakpoint == horizontal-laptop {
    @media only screen and (min-width: 1366px) and (max-width: 1919px) {
      @content;
    }
  }
  @if $breakpoint == horizontal-desktops {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}

// Bar Chart Primary

@mixin bar-chart-secondary($height: 325px) {
  background: var(--bar-chart__secondary-background);
  box-shadow: var(--bar-chart__secondary-shadow);
  width: var(--bar-chart-width);
  height: $height;
}

@mixin bar-chart-primary($height: 325px) {
  background: var(--bar-chart__primary-background);
  box-shadow: var(--bar-chart__primary-shadow);
  width: var(--bar-chart-width);
  height: $height;
}
